input, textarea {
    font-size: 100%;
    padding: 0.5%;
}

.fixed-table-container {
    /*width: 50%;*/
    height: 360px;
    /*border: 1px solid black;*/
    /*margin: 10px auto;*/
    /* above is decorative or flexible */
    position: relative; /* could be absolute or relative */
    padding-top: 30px; /* height of header */
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.header-background {
    /*background-color: #D5ECFF;*/
    height: 30px; /* height of header */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

table {
    /*background-color: white;*/
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px; /* height of header */
    text-align: left;
    border-left: none;
    padding-left: 5px;
    margin-left: -5px;
}
.first .th-inner {
    border-left: none;
    padding-left: 6px;
}

.modulo {
    /* background-color: #F6F9E8; */
    border: 1px solid #CCCCCC;
    padding: 5px;
    /*  font-family: Arial, Verdana, Helvetica, sans-serif;
      font-size: 12px;*/
    color: #000000;
    text-align: left;
    margin-top: 5px;
    line-height: 150%;
    width: 100%;
}

form div {
    margin-bottom: 0em;
}

#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

.ausencia {
    color: #FF0000;
}

#dataAventura {
    width: 140px;
}

/*.ui-tabs {
    width: 860px;

}*/

.diff_easy {
    background: #CC99FF;
    color: #FFFFFF;
}
.diff_hard {
    background: #FF9900;
    color: #FFFFFF;
}
.diff_medium {
    background: #4444FF;
    color: #FFFFFF;
}
.diff_deadly {
    background: #FF0000;
    color: #FFFFFF;
}

.encounterCard tr td{
    vertical-align: middle;
}

.connectedSortable { 
    height: 1.5em; 
    line-height: 1.2em; 
}
.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
}

.encounterCard {
    width:390px;
    border-bottom: 0px; 
    /*height: 600px;*/ 
}
.encounterCard tr td{
    border-bottom: 0px; 
    /*height: 600px;*/ 
}

.unmarked {
    -webkit-filter: opacity(10%);
}

.marked {
    -webkit-filter: opacity(100%);
}

.ui-sortable-handle{
    border-collapse: collapse;
}

