input[type=number]{
    width: 40px;
} 

.ui-progressbar {
    height: 1em;
}

.ui-widget-header-red {
    border: 1px solid #cc0000;
    background: #cc0000 url("redmond/images/ui-bg_highlight-soft_15_cc0000_1x100.png") 50% 50% repeat-x; 
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-content-red {
    border: 1px solid #3A2323;
    background: #fcfdfd url("redmond/images/ui-bg_flat_75_ffffff_40x100.png") 50% bottom repeat-x;
    color: #222222;
}

.progress-label {
    position: absolute;
    left: 45%;
    top: 0px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #bbb;
}
.ui-progressbar {
    position: relative;
}

.button-menu {
    width:100px;
}

#tableTracker {
    /*border: 1px solid #ff0000;*/
    border-collapse: collapse;
}

.currentTurn td{
    background-color:lightblue;
}

.selectedCharacter{
    border: 1px solid #ff0000;
}

.name_PC {
    color: blue;
}

.name_NPC {
    color: red;
}

.card-name {
    font-size: 22px;
    font-weight: bold;
    font-family: -webkit-body;
}
.card-details {
    font-size: 13px;
    font-style: italic;
    font-family: sans-serif;
    color: black;
}

.conditions:hover{
    background-color: rgb(189, 214, 125);
}

.hasCondition{
    background-color: rgb(189, 214, 125);
}

.hr-top {
    display:block;
    border:0px;
    height:55px;
    background-image:url('/dndapps/img/hr-darren-northcott.png');
}

.hr-bottom {
    display:block;
    border:0px;
    height:35px;
    background:url('/dndapps/img/hr-stephan-hilbelink2.png') no-repeat center;
}

.hr-paper-flip {
    display:block;
    border:0px;
    height:35px;
    background-image:url('/dndapps/img/hr-alex-holt-3-flip.png');
}

.hr-monster-card {
    display:block;
    border:0px;
    height:75px;
    background-image:url('/dndapps/img/hr3_fabienne-curty.gif');
}

.label {
    font-weight: bold;
    width: 40px;
}